#main-product-page {
  max-width: 80rem;
}

.main-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  margin: 0 auto;
}
.main-details-item {
  padding: 30px;
}
.name-product {
  min-width: 20rem;
  max-width: 30rem;
}

.antes-ahora {
  display: flex;
  flex-direction: column;
}

.topic {
  font-weight: bold;
  border-bottom: 1px solid black;
}
.topic-container {
  display: flex;
}
.topic-item {
  margin: 10px;
  font-weight: bolder;
}
.description-product {
  min-width: 20rem;
  max-width: 30rem;
}
@media screen and (max-width: 1100px) {
  .main-details {
    justify-content: baseline;
  }
  .main-details-item {
    width: 100%;
  }
}
