@import url("../../variables.css");

#details {
  margin-top: 20px;
  gap: 20px;
  display: flex;
  color: var(--font-dark);
}
.info {
  padding: 20px;
}

.info h4 {
  font-size: 3rem;
  font-weight: bold;
}
.item div {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.topic {
  font-weight: bold;
}

#precio {
  font-weight: bold;
}
.item div p {
  background-color: var(--font-light);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--font-light);
}

.item div p:hover {
  border-color: var(--light-blue);
}
.delivery-info div {
  display: flex;
  gap: 10px;
}
h5 {
  font-weight: bold;
}
.info-icons {
  height: 2rem;
  filter: invert(63%) sepia(65%) saturate(806%) hue-rotate(180deg)
    brightness(102%) contrast(103%);
}

.add-cart img {
  height: 1.3rem;
  filter: invert(100%);
}
.box {
  width: 50%;
  background-color: var(--white-background);
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
}
.quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50%;
  gap: 20px;
  background-color: var(--orange-background);
}
.quantity-selector p {
  margin: auto 0;
}

.add-cart {
  padding: 10px;
  text-align: center;
  border-radius: 100px;
  background-color: var(--green-money);
  color: var(--font-light);
}
.add-cart:hover {
  background-color: var(--green-money-hover);
  transition: 0.4s;
}

@media (max-width: 1100px) {
  #details {
    justify-content: center;
    flex-wrap: wrap;
  }
}

#details-description {
  background-color: var(--white-background);
  padding: 20px;
}
