#bg-video {
  width: 100%;
  object-fit: cover;
}

#bg-video-text {
  position: absolute;
  top: 20%;
  left: 33%;
}

h1 {
  color: var(--titles-color);
  font-size: 6vw;
  text-shadow: var(--text-shadow-titles);
}
.description-video {
  color: aliceblue;
  font-size: 2vw;
  min-width: 30%;
  margin: 0 auto;
  text-align: center;
  top: -20%;
  left: -33%;
  position: relative;
}
