#main-popular {

    width: 90%;
    margin: 8rem auto;

}

.brand-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brand-div {
    position: relative;
    height: 15rem;
    display: flex;
    justify-content: center;
    padding: 1px;
    overflow: hidden;

}

.brand-div:hover .back-image {

    transition: 0.7s;
    transform: scale(1.5);

}



.brand-over {
    top: 30%;
    margin-left: auto;
    position: absolute;
    height: 5rem;

}

@media (max-width:900px) {
    .brand-div {
        height: 9rem;
    }
}