@import url("../../variables.css");

.guaranty {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.g-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.5rem;
}
h6 {
  font-size: 0.8rem;
}
.g-item img {
  width: 3rem;
}
