@import url(../../variables.css);

.cards-main {
  max-width: 90rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: black 3px solid;
}

.card-item {
  margin: 5px;
  max-width: 20rem;
}
.card-item img {
  width: 100%;
}
.card-item-text {
  padding: 8px;
}

.card-item-text i {
  color: var(--font-color-secondary);
}

@media screen and (max-width: 1300px) {
  .cards {
    justify-content: center;
  }
  .card-item {
    width: 11rem;
  }
}
