@import url(../../variables.css);


#cards-section {

  padding: 20px;
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
  color: var(--font-dark);
}

#cards-title {
  display: flex;
  justify-content: space-between;


  margin: 0 auto;




}



.cards-container {
  border-radius: 10px;
  background-color: var(--white-background);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-item {
  margin: 10px;
  overflow: hidden;

  width: 13rem;
}

.product-item:hover .product-img {

  transition: 0.7s;

  transform: scale(0.9);
  overflow: hidden;
}



.product-img {
  width: 100%;
}

.product-data {

  padding: 0
}


.product-data p {
  display: block;
  font-weight: bold;
  text-align: center;
  margin: 0;

}

#product-brand {
  font-size: small;
}