#lema {
  text-align: center;
  background-image: url("../../img//exercise.jpg");
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  margin-bottom: 20px;

  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#text-lema {
  height: 30%;
  color: white;
}
