@import url(../../variables.css);

#main-nav {
  background-color: white !important;
  box-shadow: none;
}

.navbar-brand {
  display: flex !important;
}
#left-navbar {
  display: flex;
}
#logo {
  height: 1em;
}
#name-navbar {
  display: block;
}
#name-navbar,
#logo {
  margin: 10px;
}

.dropdown-btn {
  margin: 30px;
}

.tra {
  margin: 0 !important;
  height: 3.1rem;
}

.drop-link:hover {
  border-bottom: 1px black solid;
  transition: 1s;
}

.drop-menu {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.menu-list li {
  margin: 10px;
}

.menu-list li a {
  color: var(--font-color-secondary);
}
.menu-list li a:hover {
  color: var(--font-color);
}

.menu-list {
  list-style: none;
}

#img-dropdown {
  height: 13rem;
  margin: 20 px;
}

.all-products {
  color: black;
}

.all-products:hover {
  transform: scale(1.1);
  opacity: 0.8;
  transition: 2s;
}
