@import url("../../variables.css");

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--first);
  color: var(--font-light);
}

.handicap {
  display: none;
}

/* left full windows */

.down-arrow {
  width: 1rem;
}
.dropdown-men ul li a,
.dropdown-woman ul li a {
  text-decoration: none;
}
.dropdown-title a {
  text-decoration: none;
}

.dropdown-men ul li a:hover,
.dropdown-woman ul li a:hover {
  color: var(--light-blue);
  text-decoration: underline;
  transition: 0.6s;
}
.text-hover {
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  #navbar {
    position: fixed;
    z-index: 30;
    width: 100%;
  }
  #left-nav {
    display: flex;
    align-items: end;
    height: 100%;
  }

  #men-hover,
  #woman-hover {
    margin-right: 10px;
    padding-bottom: 5px;
  }

  .dropdown-men,
  .dropdown-woman {
    background-color: var(--white-background);
    color: var(--font-dark);
    max-height: 0;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    top: -55rem;
    left: 0;
    z-index: 3;
  }

  .dropdown-half {
    padding: 20px;
    width: 100%;
  }

  .img-half {
    display: flex;
    justify-content: space-around;
  }

  .dropdown-title {
    font-weight: bolder;
    font-size: 2rem;
    color: var(--light-blue);
  }

  .list-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .dropdown-men ul,
  .dropdown-woman ul {
    padding: 10px;
    list-style: none;
    opacity: 0;
  }

  #woman-hover:hover .dropdown-woman,
  #men-hover:hover .dropdown-men {
    top: 4rem;
    opacity: 1;
    transition: 0.5s;
    display: flex;
    justify-content: space-around;
    max-height: 30rem;
  }

  #men-hover:hover .dropdown-men ul,
  #woman-hover:hover .dropdown-woman ul {
    transition: 2s;
    opacity: 1;
  }

  #opacity-background {
    height: 2rem;
    align-items: end;
    height: 100%;
  }

  /*left small windows*/

  #menu-burguer {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .handicap {
    display: block;
  }

  #opacity-background {
    padding: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.59);
    margin-top: 5px;
  }

  #resolution-left-continer {
    top: 3rem;
    left: 0;
    height: 100%;

    position: absolute;
    z-index: 69;
  }

  #left-nav {
    min-height: 100vh;
    width: 50%;
    background-color: white;
    flex-direction: column;
    justify-content: baseline;
  }

  #menu-burguer {
    display: block;

    padding: 2px;
  }

  #menu-burguer:hover {
    border: 2px solid black;
    border-radius: 5px;
  }

  #men-hover,
  #woman-hover {
    color: var(--font-dark);
  }

  .dropdown-men,
  .dropdown-woman {
    opacity: 1;
    transition: none;
    flex-direction: column;
    justify-content: baseline;
    width: 100%;
    position: static;
  }

  .dropdown-title {
    display: none;
  }

  .dropdown-men ul,
  .dropdown-woman ul {
    list-style: none;
  }
}

/* center*/

#center-nav {
  display: flex;
  flex-direction: column;
}

#center-nav h1 {
  font-size: 2rem;
  text-align: center;
}

#logo-navbar {
  height: 4rem;

  filter: invert(100%);

  margin: 0 auto;
}

/*right*/

.navbar-icon {
  margin: auto 0;
  height: 2rem;
  filter: invert(100%);
}

.line {
  width: 0%;
  height: 1px;
  left: 50%;
  background: #f00;
  transition: all 1s;
}

.line:hover {
  width: 100%;
  left: 0%;
}
