.main-gallery {
  display: flex;
}

.gallery-images {
  display: flex;
  flex-direction: column;
}
.main-image-gallery {
  width: 30rem;
  aspect-ratio: 2/3;

  border-radius: 0.5rem;
}
.gallery-images img {
  max-width: 6rem;
  aspect-ratio: 1/1;
  margin: 5px;
  border-radius: 0.5rem;
}
.gallery-images img:hover {
  filter: brightness(80%);
  transition: 0.5s;
}
@media screen and (max-width: 900px) {
  .gallery-images {
    display: none;
  }
  .main-image-gallery {
    width: 100%;
  }
}

.main-image-container {
  margin-bottom: 30px;
}

.arrows-container {
  display: flex;
  justify-content: end;
}

.arrow-left,
.arrow-right {
  width: 2rem;
  margin: 5px;

  padding: 5px;
}

.arrow-left {
  transform: scaleX(-1);
}
