@import url('../../variables.css');

footer {
  color: var(--font-light);
  margin-top: 10rem;
  background-color: var(--first);
  position: absolute;
  bottom: 0;
  width: 100%;



}

.footer {
  padding: 6rem 0;
  display: flex;
  margin: 0 auto;
  max-width: 77rem;
  justify-content: center;

}

.footer ul {
  list-style: none;
}

.footer ul li {
  margin: 1.5rem 0;
}

#brand-footer {
  display: flex;
  align-items: center;
}

#brand-footer p {
  font-size: 3rem;
}

#logo-footer {
  height: 5rem;
}

.redes {
  width: 100%;

}

.redes img {

  padding: 5px;
  height: 3rem;

}

@media (max-width:900px) {
  .footer {
    flex-direction: column;
    text-align: center;


  }

  .footer ul {
    margin: 0 auto;
  }
}