@import url('./variables.css');

body {
  font-family: 'Fjalla One', sans-serif;
  background-color: var(--orange-background);
  



}

.body {
  max-width: 77rem;
  width: 8;
  margin: 0 auto;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}